@model PythonLearn.Domain.ViewModel.Course.FullCourseViewModel

@{
    ViewData["Title"] = "Python";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/c2c8ebeca3.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="js/slick-1.8.1/slick/slick.css" />
    <title>Пользователь</title>
</head>

<body>
    <h1>@Model.Name</h1>
    <p>@Model.Description</p>

    <div class="container">
        <h2>Курс:</h2>
        <ul class="list-group">
            @foreach (var lesson in Model.Lessons)
            {
                <li class="list-group-item">
                    <a href="@Url.Action("Lesson", "Course", new { lessonId = lesson.Id })">@lesson.Name</a>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Лекции:</h3>
                                <ul class="list-group">
                                    @foreach (var lecture in lesson.Lectures)
                                    {
                                        <li class="list-group-item">
                                            <a href="@Url.Action("Lecture", "Course", new { Id = lecture.Id })">@lecture.Text</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <h3>Практические задачи:</h3>
                                <ul class="list-group">
                                    @foreach (var practice in lesson.Practices)
                                    {
                                        <li class="list-group-item">
                                            <a href="@Url.Action("Practice", "Course", new { practiceId = practice.Id })">@practice.Question</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <h3>Тесты:</h3>
                        <ul class="list-group">
                            @foreach (var test in lesson.Tests)
                            {
                                <li class="list-group-item">
                                    <a href="@Url.Action("Test", "Course", new { testId = test.Id })">Test @test.Id</a>
                                </li>
                            }
                        </ul>
                    </div>
                </li>
            }
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
            integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
            crossorigin="anonymous"></script>

    <script src="js/jquery-3.6.3.js"></script>
    <script type="text/javascript" src="js/slick-1.8.1/slick/slick.min.js"></script>
    <script src="js/main.js"></script>

</body>

</html>